@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #D2D2D2;
}

.customPizzaForm {
    --bs-bg-opacity: 1;
    color: #FFF;
    background-color: #474747 !important;
    max-width: 50%;
    min-width: 250px;
}

.mynavbar {
    color: #ad1313
}

.mybg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(173,19,19, var(--bs-bg-opacity)) !important;
}

.mynavbartext {
    color: #13adad
}
.mynavbar-dark .navbar-brand {
    font-family: 'Mr Dafoe';
    color: white;
    font-size: 26px;
    text-shadow: 2px 2px 1px #ad1305, 2px 2px 2px #000;
    transform: rotate(-7deg);
    padding: 10px;
}

    .mynavbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
        color: #D2D2D2;
        text-shadow: 2px 2px 2px #191919;
    }

.mynavbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 1px 1px 1px #000000;
    
}

    .mynavbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
        color: #FFF;
        
    }

    .mynavbar-dark .navbar-nav .nav-link.disabled {
        color: rgba(255, 255, 255, 0.25);
    }

    .mynavbar-dark .navbar-nav .show > .nav-link,
    .mynavbar-dark .navbar-nav .nav-link.active {
        color: #191919;
    }

.mynavbar-dark .navbar-toggler {
    color: rgba(195,84,84, 0.55);
    border-color: rgba(0, 0, 0, 1);
}

.mynavbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.mynavbar-dark .navbar-text {
    color: rgba(19, 173, 173, 0.55);
}

    .mynavbar-dark .navbar-text a,
    .mynavbar-dark .navbar-text a:hover,
    .mynavbar-dark .navbar-text a:focus {
        color: #191919;
    }
.mainText{
    padding: 70px 0 20px 0
}
.mainImage {
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.8));
    margin: 40px;
    max-height: 80%;
    max-width: 80%;
}

.mainSubtitle{
    font-weight: 900;
    letter-spacing: 2px;
}

.CreatePizzaDiv {
    background: #717171;
    margin: 0;
}

.CreatePizzaText {
    margin: 100px 0 20px 0;
    color: white;
}

.btn-myButtonRed {
    color: #191919;
    background-color: rgba(195,84,84, 0.55);
    border-color: rgba(195,84,84, 0.55);
}
    .btn-myButtonRed:hover {
        color: #fff;
        background-color: #ad1313;
        border-color: #146c43;
    }

.btn-myButtonGreen {
    color: #fff;
    background-color: #375242;
    border-color: rgba(195,84,84, 0.55);
}

    .btn-myButtonGreen:hover {
        color: #fff;
        background-color: #108743;
        border-color: #146c43;
    }

.btn-myButtonDelete {
    color: #FFF;
    background-color: #5c5c5c;
    border-color: #000000;
}

    .btn-myButtonDelete:hover {
        color: #ab1616;
        background-color: #242423;
        border-color: #000000;
    }

.pizza-img {
    max-height:100%;
    max-width:100%;
    background-repeat:no-repeat;
}

.createpizza-img {
    position: relative;
    max-height: 200%;
    max-width: 200%;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
}

.Margerita {
    width: 400px;
    height: 400px;
    background-size: contain;
    background-image: url('../images/Pizzas/Margerita.png');
    font-size:0px;
}

.Hawaiian {
    width: 400px;
    height: 400px;
    background-size: contain;
    background-image: url('../images/Pizzas/Hawaiian.png');
    font-size: 0px;
}
.MeatFeast {
    width: 400px;
    height: 400px;
    background-size: contain;
    background-image: url('../images/Pizzas/MeatFeast.png');
    font-size: 0px;
}
.Mushroom {
    width: 400px;
    height: 400px;
    background-size: contain;
    background-image: url('../images/Pizzas/Mushroom.png');
    font-size: 0px;
}
.Vegetarian {
    width: 400px;
    height: 400px;
    background-size: contain;
    background-image: url('../images/Pizzas/Vegetarian.png');
    font-size: 0px;
}