@page
@model RazorPizzeria.Pages.Checkout.CheckoutModel
@{
}

<h1>Verify Your Order:</h1>
@{
    var imagePath = "~/images/Pizzas/" + (@Model.ImageTitle + ".png");
}

<div class="align-content-center text-center">
    <div class="col-3 mx-auto mb-5">
        <img class="w-100" asp-append-version="true" src=@imagePath />
        <p>Your Pizza: @Model.PizzaName has been added</p>
        <p>Total Price: $@Model.PizzaPrice</p>
        <br/>
        <a class="btn btn-outline-success mt-1 mx-auto" asp-area="" asp-page="/Checkout/ThankYou" asp-route-PizzaName="@Model.PizzaName" asp-route-PizzaPrice="@Model.PizzaPrice">Submit Order!</a>
    </div>
</div>