@page
@model IndexModel
@{
    ViewData["Title"] = "Pizza Time!";
}

<div class="text-center ">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Pizza Time!</h1>
        <h4 class="mainSubtitle"> Where pizza time is all time!</h4>
    </div>
    <a class="btn btn-myButtonRed mt-1" asp-area="" asp-page="/Pizza">Pizza time!</a>
    <br/>
    <img class="mainImage" src="~/images/PizzaTime.jpg"/>


</div>
